    *{
        box-sizing: border-box;
    }
    #sfondohd{
        background-image: url(../img/pattern.png); 
        background-color: rgb(62, 155, 186); 
        height: 100px;
        position: relative;
        mar
        }
    #logo{
        width: 200px;
        height: 70px;
        position: absolute;
        bottom: 0px;
        left: 0px;   
        }
    h1{
        font-size: 35px;
    }    

    .autore{
        color: grey;
        font-size: 15px;
    }
    #link{
        text-decoration: none;
        color: blue;
    }
    .descrizioni{
        margin-top: 0px;
        font-size: 12px;
    }
    